@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Balsamiq Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
}

main {
    color: rgba(70,70,74,1);
}

.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem
}

@media (min-width: 640px) {
    .container {
        max-width:640px;
        padding-right: 2rem;
        padding-left: 2rem
    }
}

@media (min-width: 768px) {
    .container {
        max-width:768px
    }
}

@media (min-width: 1024px) {
    .container {
        max-width:1024px;
        padding-right: 4rem;
        padding-left: 4rem
    }
}

@media (min-width: 1280px) {
    .container {
        max-width:1280px;
        padding-right: 8rem;
        padding-left: 8rem
    }
}

@media (min-width: 1536px) {
    .container {
        max-width:1536px
    }
}

.profile-pic img {
    border-radius: 100px;
}

.profile .blurbs .heading, .profile .friends .heading {
    background: transparent;
    color: rgba(70,70,74,1);
    font-size: 1.50rem;
}

.blurbs .heading, .blurbs .inner .section h4 {
    display: none;
}

h1 {
    font-size: 1.5rem !important;
}

p {
    font-size: 1rem !important;
}

a {
    color: rgba(224,146,0,1);
}

emphasize {
    color: rgba(78,170,75,1);
}